*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
}
.calculator{
    background-color: #354257;
    width: 20rem;
    padding: 20px;
  border-radius: 20px;
 box-shadow: 0 20px 50px rgba(85, 73, 73, 0.5);
}
.display{
    background-color: black;
    color: aliceblue;
    margin-bottom: 20px;
    text-align: right;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
   width: 85%;
   font-size: 30px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.btn{
    background-color: #333;
    color: white;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    border: 2px solid white;
    font-size: 20px;
    font-weight: 400;
}
.btn:hover{
    background-color: #fdf6ec;
    color: black;
}
.operator{
    background-color: #ff9f0a;
    color: white;
    text-align: center;
}
.operator:hover{
     background-color: #1a182e;
    color: rgb(255, 255, 255);
}
.equal-to {
    background-color: #ff9f0a;
    grid-column: span 2; 
    width: 140px;
    border-radius: 20px;
    font-size: 30px;
    text-align: center;
}
.equal-to:hover{
        background-color: #1a182e;
    color: rgb(255, 255, 255);
}